
html {
  scroll-behavior: smooth;
}
.imgLogo {
	height: 35px;
	width: 150px;
}

.bg-warna{
	background-color: #774f38;
	color: #f1D4af;
}

.navbar-expand-lg .navbar-nav .nav-link{
	color: #802D2F;
	margin-right: 10px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
	border-bottom: solid 2px #FF595F;
}


.col-sm-9{
	width: 75%;
}

span{
	color: #802D2F;
    display: block;
    font-size: 24px;
    line-height: 35px;
    font-weight: 400;
    margin-bottom: 12px;
    font-family: "Open Sans",Arial,sans-serif;
}

.row{
	margin-top: 20px;
	display: inline-flex;
}

.btnChat {
	border-radius: 0;
	padding: 5px;
	background-color: #23DB32;
	color: white;
	width: 150px;
	height: 50px;
}
.btnChat:hover{
	background-color: #129F25;
}

.col-sm-3{
	text-align: center;
	margin-top: 30px;
}

.imgService{
	width:150px;
	height: 150px;
	text-align: center;
}
.card{	
    text-align: -webkit-center;
}

.carousel-control-prev, .carousel-control-prev:hover{
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(255, 255, 255, 0.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
   	background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
   	
}
.carousel-control-next, .carousel-control-next:hover{
	background-image: -webkit-linear-gradient(right,rgba(0,0,0,.5) 0,rgba(255, 255, 255, 0.5) 100%);
    background-image: -o-linear-gradient(right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(right,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
   	background-image: linear-gradient(to left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
   	
}
.carousel-indicators li{
	width: 10px;
    height: 10px;
    border-radius: 100%;
}
.span_Judul{
	text-align: center;
	color: #805354;
}

.card-group{
	margin-bottom: 10px;
}
.buttonSee{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}
.btn-See{
	background-color: #FF5A5F;
	color: white;
	margin-bottom: 20px;
}
.btn-See:hover{
	background-color: #802D2F;
	color: white;
}

.articles{
	text-align: left;
	margin: 10px;
}
.card-img-article{
	width: 300px;
	height: 300px;
}
.imgSOS{
	text-align: center;
}
.imgSosmed{
	width: 60px;
	height: 60px;
	margin: 5px;
}


.button-flat-outline {
	border: 1px solid #FF5A5F;
	background: transparent;     
	color: #FF5A5F;         
	font-size: 16px;
	padding: 0.5em 1em 0.5em 1em;
}
.button-flat-outline:hover {
	background-color: #FF5A5F;
	color: white;            
}
hr{
	margin-bottom: 25px;
	margin-top: 25px;
}

.card-title{
	color: #CC474C;
	font-weight: bold;
}

.btn-SeeArticle{
	background-color: #FF5A5F;
	color: white;
}
.btn-SeeArticle:hover{
	background-color: #802D2F;
	color: white;
}

.kategoriArtikel{
	margin-top: -20px;
}
.kategorii{
	margin-top: 30px;
	color: #802D2F;
}

#about {
	background: url('img/a.jpg') center
		center no-repeat;
			background-size: cover;
			height: 100%;
}

.about-text{
	background: rgba(0,0,0,0.8);
	color: white;
	margin-top: 3rem;
	padding: 1.875rem;
}

.CU{
	margin-top: 30px;
	text-align: center;
	color: #802D2F;
}
.container-fluid{
	color: white;
	background-color: #802D2F;
	text-align: center;
	height: 50px;
	padding-top: 20px;
	margin-top: 20px;
}

/*productListCSS*/
.OUProd{
	text-align: center;
	color: #802D2F;
}

.content{
	text-align: center;
}
.contentImg{
	width: 720px;
	height: 600px;
}
.scroll{
	overflow: auto;
	height: 950px;
}
li{
	list-style-type: none;
}
.SearchProd{
	margin-bottom: 15px;
}

/*aricleList*/
.textarticle{
	text-align: left;
}

.artikell{
	border: 0;
}